@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');


* {
    transition: 0.5s;
    box-sizing: border-box;
}

html, body {
    height: auto;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
            background-color: #ffeed3;
    background-image:  linear-gradient(to bottom, transparent -300%, #ffeed3),url("/Ogra/images/bills/image2.png");
    background-size: contain;
    margin: 0;
    padding: 0;
}
.primary
{
    color: #006A2A;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.dark-check, .ar-check
{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 42px;
    height: 42px;
    background-color: #FED085;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: #ffeed3;
}
.ar-check
{
    right: 70px;
    font-weight: 700;
    font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;

}
html.dark-mode .dark-check i 
{
    color:aqua;

}
html.dark-mode.ar .ar-check 
{
    color:aqua;

}
html.ar .ar-check 
{
    color:#E47902;

}

.button.start-ride, .select {
    text-decoration: none;
    padding: 20px 40px;
    margin: 5px;
    background-color: #006A2A !important;
    color: #ffeed3 !important;
    border-radius: 30px;
    cursor: pointer;
}

.history
{
    display: flex;
    flex-direction: column;
    background-color: #E47902;
    background-image: url("/Ogra/images/bills/image3.png");
    background-size: contain;
    border-radius: 38px;
    padding: 30px;
    max-width: 1100px;
    min-width: 275px;
    width: 80%;
}

.history-title
{
    color: #FED085;
    display: flex;
    align-items: center;
    gap: 18px;

}
.history-title h1
{
    font-size: 20px;
    font-weight: 500;
}
.history-card-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
}
.history-card
{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #FED085;
    border: 4px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;

}
.history-card:hover
{
    
    border: 4px solid #F28808;
            
    background-image: url("/Ogra/images/bills/image2.png"); 
    background-size: cover;
}
.history-card-data
{
    display: flex;
    flex-direction: column;
    
    /* padding: 20px;
    background-color: #FED085;
    border: 4px solid transparent;
    border-radius: 20px;
    cursor: pointer; */

}
.history-card-close
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FED085;
    width: 30px;
    height: 30px;
    background-color: #ffba49;
    border-radius: 50%;
    font-weight: 700;
}
.history-card-type
{
    font-size: 13px;
    font-weight: 500;
    color: #E47902; 
}
.history-card-date
{
    font-size: 12px;
    font-weight: 400;
    color: grey;
}
.card-deleted
{
    transform: translateX(-115%);
    height: 0;
    pointer-events: none;
}


/* --------------- */
body.choose
{
    gap: 38px;
}
.back
{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
body.choose h1
{
    width: 100%;
    text-align: left;
    padding-left: 40px;
    /* margin-left*/
} 
.type-cards-container
{
    display: grid;
    grid-template-columns: 50% 50% ;
    width: 80%;
    /* max-width: 500px; */
    justify-content: center;
    gap: 20px;
    /* width: 80%;
    max-width: 1100px; */
    
}
.type-card
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    padding: 20px;
    background-color: #D8D8D8;
    border-radius: 20px;
    cursor: pointer;


}
.type-card .img
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-card .img img
{
    width: 80%;
    /* color: ; */
    filter:drop-shadow( 5px -2px 0 #f2890867) ;
}
.type-card .img.tomnaya img
{
    width: 60%;
}
.type-card.active .img img
{
    filter:drop-shadow( 5px -2px 0 #006a2a67) !important;
}
.type-card h2
{
    font-size: 20px;
    font-weight: 500;
    height: 10px;
}






/* ---------- */
.button
{
    border: 4px solid transparent;


    font-weight: 500;
    background-attachment: initial;
    background-color: #FED085 !important;
    color: black !important;
}
.button:hover, .button.active
{
    border: 4px solid #006A2A;
        background-image: url("/Ogra/images/bills/image.png"); 
    background-size: cover;
    color: #ffeed3 !important;

    
}

@keyframes move-bg {
    0% {
        background-position: 0% 0%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.button.active {
    animation: move-bg 10s linear infinite;
}

/* ------ */
.select
{
    position: absolute;
    bottom: 30px;
    background-color: #006A2A !important;
    color: #ffeed3 !important;
    font-weight: bold;
}
.select:hover
{
    background-color: #00461c !important;
}
.select.button-disable
{
    background-color: #80808063  !important;
    pointer-events: none !important;
}




/* dark mode */
html.dark-mode body
{
    /* backdrop-filter: grayscale(1); */
    background: #1d1d1d;
    /* background-image:  linear-gradient(to bottom, transparent -300%, #1d1d1d),url("/Ogra/images/bills/image2.png"); */
}
html.dark-mode .layer1
{
    background: #2c2c2c;
}
html.dark-mode .layer2
{
    background: #373737 ;
}
html.dark-mode .button
{
    background-color: #2c2c2c !important;
    color: #E2E2E2 !important;
}
html.dark-mode .start-ride:not(.select)
{

    background-color: #006A2A !important;
    color: #fff !important;


}
html.dark-mode .button:hover, html.dark-mode .button.active
{
    
    border: 4px solid #006A2A;
        background-image: url("/Ogra/images/bills/image.png"); 
    background-size: cover;
    color: #ffeed3 !important;
}


html.dark-mode .type-card .img img
{
    
    filter:drop-shadow( 5px -2px 0 #b9b9b925);
}

html.dark-mode .history-card-close
{
    background-color: #424242;
    color: #fff;
    font-weight: unset;
}


/* ar */
html.ar *[data-lang], .history-card
{
    font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
}

html.ar body.home
{
            direction: rtl;
        text-align: right;
}

.history * 
{
    direction: ltr;
    text-align: left;
    }

    html.ar .history * {
        direction: rtl;
        text-align: right;
    }